.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.logo {
  display: inline-block;
  background-color: rgb(56, 56, 247);
  color: #FFF;
  padding: .5rem .8rem;
  border-radius: 4px;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.container .leftSide{
  flex: 1;
  margin-right: 40px;
}

.container .rightSide {
  flex: 1;
  margin-left: 40px;
}